<h1 style="padding-left: 20px;"><%= t('.title') %></h1>

<%= render 'form', railway_station: @railway_station %>

<hr>
<%= link_to t('common.back'), admin_railway_stations_path, class: "buttonItem size" %>
