<p><h3>
  <strong>Назва:</strong>
  <%= @railway_station.title %>
</p></h3>

<p><h3>
  <strong>Ціна:</strong>
  <%= @railway_station.price %>
</p></h3>
<%= link_to t('common.edit'), edit_admin_railway_station_path(@railway_station), class: "buttonItem" %> |
<%= link_to t('common.back'), admin_railway_stations_path, class: "buttonItem" %>
