<table>
  <thead>
    <tr>
      <th><h4><strong>Білета ID</strong></h4></th>
      <th><h4><strong>Користувача ID</strong></h4></th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <%= render @tickets %>
  </tr>
  </tbody>
</table>