<% @tickets.each do |ticket| %>
    <div class="row">
      <div class="size"><strong>ID Білета: </strong><%= link_to ticket.id, admin_ticket_path(ticket) %></div>
      <div class="size"><strong>ID Користувача: </strong><%= ticket.user_id %></div>
      <div class="btn btn-primary"><%= link_to t('common.delete'), admin_ticket_path(ticket),class: "buttonItem size", method: :delete %></div><br>
      <div class="btn btn-primary"><%= link_to t('common.edit'), edit_admin_ticket_path(ticket), class: "buttonItem size" %></div>
      <br>
      <hr>
    <% end %>
