<tr>
  <td><%= route.title %></td>
  <td><%= link_to 'Показати', route %></td>
  <td><%= link_to 'Редагувати', edit_route_path(route) %></td>
  <td><%= link_to 'Видалити', route, method: :delete, data: { confirm: 'Справді видалити?' } %></td>
</tr>