<p id="notice"><%= notice %></p>

<h1>Список маршрутів</h1>

<table>
  <thead>
    <tr>
      <th>Назва</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @routes %>
  </tbody>
</table>

<br>

<%= link_to 'Новий маршрут', new_route_path %>
<%= link_to 'Назад', root_path %>