<h1 style="padding-left: 20px;">Потяги</h1>

<table>
  <thead>
    <tr>
      <th class="size">Номер</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @trains %>
  </tbody>
</table>

<br>

<%= link_to 'Новий потяг', new_admin_train_path, class: "buttonItem size" %>
<hr>
<%= link_to t('common.back'), wellcome_index_path, class: "buttonItem size" %>
