<tr>
  <td><%= wagon.type %></td>
  <td><%= link_to 'Показати', admin_wagon_path(wagon) %></td>
  <td><%= link_to 'Змінити', edit_admin_wagon_path(wagon) %></td>
  <td><%= link_to 'Видалити', admin_wagon_path(wagon), method: :delete, data: { confirm: 'Ви впевнені?' } %></td>
</tr>