<p>Ви купили білет по маршруту "<%= @ticket.route_name %></p>
<p>Переглянути білет можна <%= link_to "Тут", @ticket %></p>
<p>Переглянути всі куплені білети можна за посиланням: <%= link_to "Тут", tickets_url %></p>